.header__text {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.2s linear;
  color: #ffff;
}

.header__text:hover {
  opacity: 0.6;
  cursor: pointer;
}
